#include <dt-bindings/pinctrl/samd21-da1gXabcd-pinctrl.h>

&pinctrl {
    pwm0_default: pwm0_default {
        group1 {
            pinmux = <PB9E_TC4_WO1>;
        };
    };
    pwm0_sleep: pwm0_sleep {
        group1 {
            pinmux = <PB9E_TC4_WO1>;
        };
    };
};

&tcc0 {
    status = "okay";
    compatible = "atmel,sam0-tcc-pwm";
    prescaler = <4>;
    #pwm-cells = <2>;

    pinctrl-0 = <&pwm0_default>;
    pinctrl-1 = <&pwm0_sleep>;
    pinctrl-names = "default", "sleep";
};

/ {
    chosen {
        zmk,backlight = &backlight;
    };

    backlight: pwmleds {
        compatible = "pwm-leds";
        pwm_led_0 {
            pwms = <&tcc0 0 1000 PWM_POLARITY_NORMAL>;
        };
    };
};
